<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce Site</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>

  </head>
  <body>
    {% include 'header.html' %}
    <section>
      <div class="container my-5">
        <header class="mb-4">
          <h3>New products</h3>
          <form action="/" method="GET" class="my-3">
            <div class="input-group">
              <input
                type="text"
                name="q"
                class="form-control"
                placeholder="Search products..."
              />
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </form>
        </header>

        <div class="row">
          {% for product in products %}
          <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
            <div class="card w-100 my-2 shadow-2-strong">
              <img
                src="{{ product.image }}"
                class="card-img-top"
                style="aspect-ratio: 1 / 1"
              />
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">Price: {{ product.price }}</p>
                <p class="card-text">Qty: {{ product.quantity }}</p>
                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                  <a href="{{ url_for('add_to_cart', product_id=product.id) }}" class="btn btn-primary shadow-0 me-1" onclick="showSnackbar()">Add to cart</a>
                  <a
                    href="/product/{{ product.id }}"
                    class="btn btn-primary shadow-0 me-1"
                    >View Details</a
                  >
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <div id="snackbar">Item added to cart!</div>

  </body>
  <script>
  function showSnackbar() {
    var snackbar = document.getElementById("snackbar");
    snackbar.classList.add("show");
    setTimeout(function() {
      snackbar.classList.remove("show");
    }, 9000); 
  }
</script>

</html>
